@use 'base/mixins' as m;
@use 'base/variables' as v;

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;

    @include m.tablet{ 
        flex-direction: row;
        justify-content: space-between;
        
        img{
            width: auto;
            height: 3rem;
        }
    }
}

.navegacion{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in-out,opacity 0.3s linear;
    @include m.tablet{ 
        display: flex;
        align-items: center;
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    a{
        color: v.$blanco;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        text-decoration: none;

        @include m.tablet{
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

.mobile-menu{
    img{
        width: 5rem;
    }
    @include m.tablet{ 
        display: none;
    }
}

.mostrar{
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    @include m.tablet{ 
        flex-direction: row;

    }
}