@use 'base/mixins' as m;
@use 'base/variables' as v;

.barra{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

    @include m.tablet{ 
        flex-direction: row;
        justify-content: space-between;
        
        img{
            width: auto;
            height: 3rem;
        }
    }
}

.navegacion{
    @include m.tablet{ 
        display: flex;
        align-items: center;
    }
    a{
        color: v.$blanco;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        text-decoration: none;

        @include m.tablet{
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}